<html>
<head>
<meta charset="UTF-8"/>
</head>
<body>
{{>header}}
	<h1>Carrito</h1>
	{{#products}}
	<br>
	
	<p>Producto: {{name}}</p>
	<p>Precio: {{price}}€</p>
	<form action="./carrito" method="post">
		<input name="id_producto" type="hidden" value={{id}}>
	<input type='submit' value='Eliminar producto'/>
	</form>
	</br>
	{{/products}}
	{{#total}}
	<p>Total: {{total}}€</p>
	<br>
	<a href="/orders/new">Realizar pedido</a>
	</br>
	{{/total}}
	{{^products}}
	<a>Todavía no hay productos</a>
	{{/products}}
	
</body>
	<br><a href="/">Volver</a>
</html>