<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<script type="text/JavaScript">
function Seleccionar(ciudad,hora){
	var elements = document.getElementById("city").options;
    for(var i = 0; i < elements.length; i++){
    	var val = elements[i].value;
    	if(val == ciudad){
    	elements[i].selected = true;
    	}else{
    	elements[i].selected = false;
    	}
      
    }
    var elements = document.getElementById("time").options;
    for(var i = 0; i < elements.length; i++){
    	var val = elements[i].value;
    	if(val == hora){
    	elements[i].selected = true;
    	}else{
    	elements[i].selected = false;
    	}
      
    }
}
</script>
</head>
<body onload="javascript:Seleccionar('{{ciudad}}','{{hora}}')">

	{{#welcome}}
	<h1>Welcome!</h1>
	{{/welcome}}
	
	<h1>Seibi Experience</h1>
	
	{{#user}}
	<a href=/users/show_user>{{user}}</a>
	{{/user}}
	
	{{^user}}
	<a href=/users/login>Iniciar sesión</a>
	{{/user}}
	
	<h1>Productos</h1>
	<form action="/" method="post">
	<label>Choose a city:</label>
		<select name="city" id="city"> 
			<option value="Any">Any</option>
			<option value="Madrid">Madrid </option> 
			<option value="Barcelona">Barcelona</option> 
			<option value="Toledo">Toledo</option> 
			<option value="Sevilla">Sevilla</option> 
			<option value="Pontevedra">Pontevedra</option> 
		</select>
	<label> Choose a time:</label>
		<select name="time" id="time"> 
			<option value="Any">Any</option>
			<option value="Mañana">Morning</option> 
			<option value="Tarde">Evening</option> 
			<option value="Noche">Night</option> 
		</select>
	<input type="Submit" value="Filtrar">
	</form>
	<br>
	{{#products}}
	<a href="products/{{id}}">{{name}}</a>
	<a>{{description}}</a>
	<br><br>
	<br><br>
	{{/products}}
	
	<br>
	
	{{#hasPrev}}
	<a href="/?page={{prevPage}}">Prev</a>	
	{{/hasPrev}}
	
	{{#hasNext}}
	<a href="/?page={{nextPage}}">Next</a>
	{{/hasNext}}
	
	<br>
	
	{{^products}}
	<p>No hay posts todavía.</p>
	{{/products}}
</body>