<html>
<head>
<meta charset="UTF-8"/>
</head>
<body>
	<p>Producto: {{product.name}}</p>
	<p>Descripción: {{product.description}}</p>
	<p>Actividades: {{product.activities}}</p>
	<br>
	{{#product.comments}}
	<p>Usuario: {{usuario.name}}</p>
	<p>Comentario: {{text}}</p>
	<br>
	{{/product.comments}}
	<a href="/products/{{product.id}}/comments/create_comment">Añadir comentario</a>
	<br>
</body>
	<a href="/">Volver</a>
</html>

<!-- Comprar -->
<!-- if(esta en tu pedido) -->
<!-- Ya esta en tu carrito -->
<!-- Ir al carrito -->


