<html>
<head>
<meta charset="UTF-8"/>
</head>
<body>
	{{>header}}
	<h2>Producto: {{product.name}}</h2>
	<p>Descripción: {{product.description}}</p>
	<p>Actividades: {{product.activities}}</p>
	<br></br>
	{{#user}}
	{{#Carrito}}
	<a>Ya está en tu carrito</a>
	<form action="./{{product.id}}" method="post">
		<input name="id_producto" type="hidden" value={{product.id}}>
	<input type='submit' value='Eliminar producto'/>
	</form>
	{{/Carrito}}
	
	{{^Carrito}}
	<a href="/products/{{product.id}}/buy">Añadir al carrito</a>
	{{/Carrito}}
	<a href="/users/carrito">Ir al carrito </a>
	<br></br>
	{{/user}}
	{{^user}}
	<p><i>Se requiere de un usuario para poder comprar productos.</i></p>
	{{/user}}
	{{#product.comments}}
	<p>Usuario: {{usuario.name}}</p>
	<p>Comentario: {{text}}</p>
	<br></br>
	{{/product.comments}}
	{{#user}}
	<a href="/products/{{product.id}}/comments/create_comment">Añadir comentario</a>
	{{/user}}
	{{^user}}
	<p><i>Se requiere de un usuario para poder realizar comentarios.</i></p>
	{{/user}}
	<br></br>
</body>
	<a href="/">Volver</a>
</html>

<!-- Comprar -->
<!-- if(esta en tu pedido) -->
<!-- Ya esta en tu carrito -->
<!-- Ir al carrito -->


