<html>
<head>
<meta charset="UTF-8"/>
<script type="text/JavaScript">
function usuarioComprobar(user_comment,user,id){
	var text= "eliminar_comentario" + "/" + id;
	var elim=document.getElementById(text);
	console.log(user);
	console.log(user_comment);
	if(user==user_comment){
		elim.style.display ="block";
		console.log("coincide");
	}else{
		elim.style.display ="none";
		console.log("No coincide");
	}
	
}
</script>
</head>
<body>
	{{>header}}
	<h2>Producto: {{product.name}}</h2>
	<p>Descripción: {{product.description}}</p>
	<p>Actividades: {{product.activities}}</p>
	<br></br>
	{{#user}}
	{{#Carrito}}
	<a>Ya está en tu carrito</a>
	<form action="./{{product.id}}" method="post">
		<input name="id_producto" type="hidden" value={{product.id}}>
	<p>
	<input type='submit' value='Eliminar producto'/>
	</p>
	</form>
	{{/Carrito}}
	
	{{^Carrito}}
	<a href="/products/{{product.id}}/buy">Añadir al carrito</a>
	{{/Carrito}}
	{{/user}}
	<br></br>
	<h3>Comentarios</h3>
	{{^user}}
	<p><i>Se requiere de un usuario para poder comprar productos.</i></p>
	{{/user}}
	
	
	{{#product.comments}}
	<p><b>Usuario:</b> {{usuario.name}}</p>
	<p><b>Comentario:</b> {{text}}</p>
	<div id="eliminar_comentario/{{id}}" style="display: none;">
	<form action="/products/{{product.id}}/comments/delete_comment" method="post">
		<input name="id_comment" type="hidden" value={{id}}>
	<p>
	<input type='submit' value='Eliminar comentario'/>
	</p>
	</form>
	</div>
	<script>usuarioComprobar('{{usuario.name}}','{{usersession}}','{{id}}');</script>
	<br></br>
	{{/product.comments}}
	
	{{^product.comments}}
	<p>Todavía no hay comentarios</p>
	{{/product.comments}}
	{{#user}}
	<a href="/products/{{product.id}}/comments/create_comment">Añadir comentario</a>
	{{/user}}
	{{^user}}
	<p><i>Se requiere de un usuario para poder realizar comentarios.</i></p>
	{{/user}}
	<br></br>
</body>
	<br></br>
	<a href="/">Volver</a>
	{{>foot}}
</html>

<!-- Comprar -->
<!-- if(esta en tu pedido) -->
<!-- Ya esta en tu carrito -->
<!-- Ir al carrito -->


