<html>
<head>
	<meta charset="UTF-8"/>
</head>
<body>
{{>header_user}}
	<h2>Registrar usuario</h2>
	<form action="/users/signup" method="post">
		<p>Usuario: </p>
		<input type='text' name='user'/>
		<p>Contraseña: </p>
		<input type='password' name='password'/>
		<p>Repita la contraseña:</p>
		<input type='password' name='password2'/>
		{{#error}}
		<p>La contraseña no coincide</p>
		{{/error}}
		{{#error2}}
		<p>El usuario ya existe</p>
		{{/error2}}
		<p>
		<input type='submit' value='Registrarse'/>
		</p>
		<br>
		<a href="/users/login">Volver</a>
		</br>
	</form>
</body>
{{>foot}}
</html>